---
---

@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "mixins";

$font-family: 'Open Sans', sans-serif;
$font-size: 16px;

html, body {
  font-family: $font-family;
}
